.TreeNav .label {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  text-align: left; }

.TreeNav__subNav {
  padding-left: 1em; }

.TreeNav__dropdown:hover {
  background: #eaeaea; }

.TreeNav .Menu__item.selected {
  font-weight: 600; }

.TreeNav .Menu__item .Menu__item__check {
  display: none; }

.TopNav__margin {
  margin: 2em; }

.TopNav__line {
  border: 0;
  height: 0;
  border-top: 1px solid #eaeaea;
  margin-top: 1em;
  margin-bottom: 1em; }

.Tooltip {
  display: -webkit-box;
  display: -ms-flexbox;
  -js-display: flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  max-width: 34em;
  background: rgba(255, 255, 255, 0.95);
  border-radius: 0.375em;
  box-shadow: 0 0 1.5em 0 #E0E0E0;
  opacity: 0;
  -webkit-transition: opacity 1s;
  transition: opacity 1s; }
  .Tooltip__info {
    padding: 1.5em 2em; }
  .Tooltip__title {
    margin-top: 0.33em;
    line-height: 2em;
    font-size: 1.25rem;
    font-weight: 400; }
  .Tooltip__description {
    line-height: 1.25em;
    font-weight: 300;
    font-size: 14px; }
  .Tooltip--visible {
    opacity: 0.9; }

.Toggle {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex; }
  .Toggle__overlay {
    cursor: pointer;
    border: none;
    border-radius: 1em;
    min-width: 2.5em;
    width: 2.5em;
    height: 1.5em;
    background: #5c5d5d; }
    .Toggle__overlay::before {
      content: " ";
      display: inline-block;
      width: 1.5em;
      height: 1.5em;
      border-radius: 1em;
      border: 3px solid #5c5d5d;
      background: white;
      box-sizing: inherit; }
  .Toggle--hidden {
    display: none; }

.Toggle__input:checked + .Toggle__overlay {
  background: #0aa96c; }

.Toggle__input:checked + .Toggle__overlay::before {
  margin: 0 1em;
  border-color: #0aa96c; }

.Tabs {
  background-color: #fafafa; }
  .Tabs__background {
    background-color: #eaeaea; }
  .Tabs__tabs {
    text-transform: uppercase;
    display: -webkit-box;
    display: -ms-flexbox;
    -js-display: flex;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    list-style: none;
    font-size: 1em; }
  .Tabs__content {
    box-shadow: 0px -1px 3px 0px #E0E0E0;
    padding: 2em 0 1em; }
  .Tabs__tab {
    color: #666;
    list-style: none;
    padding: 0.8em 2em;
    margin: 0 1em 0 0;
    border-radius: 0.25em 0.25em 0 0;
    cursor: pointer; }
  .Tabs__tab:hover {
    background: #dddddd; }
  .Tabs__tab--active {
    color: #333;
    box-shadow: 0px -3px 3px 0px #E0E0E0;
    background: #fafafa; }
  .Tabs__tab--active:hover {
    background: #fafafa; }
  .Tabs__icon {
    margin: 0 0.5em 0 0; }

.SmallPanel {
  height: 18em;
  margin: 1em 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  -js-display: flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }
  .SmallPanel .Panel__content {
    padding: 0.6em 1.5em 2em;
    display: -webkit-box;
    display: -ms-flexbox;
    -js-display: flex;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1; }

.Selector {
  min-width: 13em;
  border-radius: 0.375em;
  border-color: #999;
  background: none;
  border: 1px solid;
  font-weight: 400;
  position: relative; }
  .Selector.isOpen {
    border-radius: 0.375em 0.375em 0 0;
    box-shadow: 0 0 1em 0 #E0E0E0;
    border: none; }
    .Selector.isOpen .Button {
      border-radius: inherit;
      z-index: 3;
      position: relative;
      background-color: #fff; }
  .Selector .label {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    text-align: left; }
  .Selector .content {
    background-color: #fff;
    overflow: hidden;
    position: absolute;
    z-index: 2;
    min-width: 100%;
    padding: 0 2em 2em;
    box-shadow: 0 0 1em 0 #E0E0E0;
    border-radius: 0 0.375em 0.375em; }

.SearchField__input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 0.7em 1em 0.7em 3.2em;
  border-radius: 0.25em;
  border: 2px solid #eaeaea;
  width: 100%; }

.SearchField .fa {
  margin: 1.1em 1.3em;
  position: absolute; }

.SearchField__icon {
  color: #5c5d5d; }

.Scrollable {
  background: #fff;
  pointer-events: auto;
  overflow: auto;
  height: 100%; }

