.default {
  &.Scrollable { color: #ABC; }
  &.Selector.isOpen { color: #ABC; }
  &.Tooltip__description { color: #ABC; }
  &.TreeNav__subNav { color: #ABC; }
  &.Tooltip--visible { color: #ABC; }
  &.Tabs__tab--active:hover { color: #ABC; }
  &.Tabs__icon { color: #ABC; }
  &.SmallPanel { color: #ABC; }
  &.Toggle__overlay::before { color: #ABC; }
  &.Toggle__input:checked { color: #ABC; }
  &.Tabs__tabs { color: #ABC; }
  &.Tabs__tab:hover { color: #ABC; }
  &.Tooltip__info { color: #ABC; }
  &.SearchField__input { color: #ABC; }
  &.Tooltip { color: #ABC; }
  &.TreeNav__dropdown:hover { color: #ABC; }
  &.TreeNav { color: #ABC; }
  &.Selector { color: #ABC; }
  &.SearchField { color: #ABC; }
  &.Toggle__overlay { color: #ABC; }
  &.Tooltip__title { color: #ABC; }
  &.Toggle--hidden { color: #ABC; }
  &.Tabs { color: #ABC; }
  &.Tabs__background { color: #ABC; }
  &.Tabs__tab--active { color: #ABC; }
  &.Toggle { color: #ABC; }
  &.Tabs__tab { color: #ABC; }
  &.SearchField__icon { color: #ABC; }
  &.Tabs__content { color: #ABC; }
}

.blue {
  color: #BCD
}

.blue {
  color: #CDE
}

.red {
  color: #DEF
}